- title "Users"

.row
	.span10.offset1.users
		%header
			%h1 Users

		%table.table.table-striped.table-condensed
			%tr
				%th Name
				%th Zuth
				- if admin?
					%th Email
					%th Identifier
					%th Admin?
					%th 
			- @users.each do |user|
				%tr
					%td= link_to user.name, user
					%td= user.zuth.round(2)
					- if admin?
						%td= user.email
						%td= link_to "Profile", user.identifier
						%td= check_box_tag "admin", "yes", user.admin, :disabled=>true
						%td
							= link_to 'Edit', edit_user_path(user), :class => "btn btn-mini btn-inverse"
							= link_to 'Destroy', user, method: :delete, :class => "btn btn-mini btn-danger"
