= form_for(_tag, :class=>"well") do |tag_form|

	- if _tag.errors.any?
		#error_explanation
			%h2 
				= pluralize(_tag.errors.count, "error")
				prohibited this _tag from being saved:
			%ul
			- _tag.errors.full_messages.each do |msg|
				%li= msg

	%fieldset
		.control-group
			= tag_form.label :name, :class=>"control-label"
			.controls
				= tag_form.text_field :name, :size=>40
		.control-group
			= tag_form.label :tag_type, :class=>"control-label"
			.controls
				= tag_form.collection_select :tag_type_id, TagType.all, :id, :name, :prompt => "Select a Tag Type"
		.form-actions
			= tag_form.submit "Submit", :class=>"btn btn-primary"
			= link_to "Cancel", tags_url, :class=>"btn"
