= form_for @item, :html => {:class=>"form-horizontal"} do |item_form|
	- if @item.errors.any?
		#error_explanation
			%h2 
				= pluralize(@item.errors.count, "error")
				prohibited this @item from being saved:
			%ul
			- @item.errors.full_messages.each do |msg|
				%li= msg

	%fieldset
		.control-group
			= item_form.label :name, :class=>"control-label"
			.controls
				= item_form.text_field :name, :size=>40
		.control-group
			= item_form.label :url, :class=>"control-label"
			.controls
				= item_form.url_field :url
		= render :partial => 'tag_links/form', :locals => {:item_form => item_form}
		.control-group
			= item_form.label :description, :class=>"control-label"
			.controls
				= item_form.text_area :description, :rows=>4, :class => "input-xlarge"
			= item_form.submit "Submit", :class=>"btn btn-primary"
			= link_to "Cancel", items_url, :class=>"btn"
