%article.item
	%aside.actions
		= render 'investments/investment', :item => item

	%header
		= link_to 'Edit', edit_item_path(item)
		- if admin?
			|
			= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete
	%h2
		= item.url ? link_to(item.name, item.url) : item.name
	%p
		= item.description