%article.item
	%aside.investment
		= render 'investments/investment', :item => item

	%aside.controls
		= link_to 'Edit', edit_item_path(item), :class => "btn btn-mini btn-inverse"
		- if admin?
			= link_to 'Remove', item, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger"
	%h3= item.url ? link_to(item.name, item.url) : item.name
	%p= item.description