#panel
	= link_to image_tag("logo-beta.png", :height=>"48"), root_url, :id=>"logo"
	
	#user_nav
		- if user_signed_in?
			= "Signed in as %s." % current_user.email
			= link_to "Sign out", destroy_user_session_path, :method => :delete
		- else
			= link_to "Sign In", new_session_url, :id => :sign_in
			/ = link_to_rpx "Sign in (Janrain)", user_session_url

	= render 'users/account'