!!! 5
%html
	%head{:lang => "en"}
		= stylesheet_link_tag 'application', :media => 'all'
		= javascript_include_tag "application"
		= csrf_meta_tags
	
	%body
	
	= render 'login_overlay'
	
	%header
		= render 'panel'
		
		#flash
			- flash.each do |type, msg|
				= content_tag :div, msg, :class => type


	%section.container
		= yield

