!!! 5
%html
	%head{:lang => "en"}
		= stylesheet_link_tag 'application', :media => 'all'
		= javascript_include_tag "application"
		= csrf_meta_tags
	
	%body
	
	= render 'login_overlay'
	
	%header
		= render 'panel'

		#notice
			- flash.each do |name, msg|
				= content_tag :div, msg, :id => name

	%section#container
		= yield

	= javascript_include_rpx(user_session_url)
